<GridLayout row="4" colSpan="2"  rows="auto,auto" columns="auto,*" class="alignTabs">
    <Label text="&#xe042;" class=" f-s-32 md-icon colorWhite" textWrap="true"></Label>
    <Label text="Color Temp" col="1"  class="main-font f-s-27 colorWhite p-l-5 text-left" textWrap="true"></Label>
    <Label text="3200K"  col="1" class="f-s-27 main-font colorWhite p-r-10 text-right" textWrap="true"></Label>

    <GridLayout rows="*" colSpan="2" columns="*,*,*,*,*,*,*,*" row="1" class="slideBackground"> 
      <GridLayout verticalAlignment="middle" col="0" class="sliderVerticalLine"></GridLayout>
      <GridLayout verticalAlignment="middle" col="1" class="sliderVerticalLine"></GridLayout>
      <GridLayout verticalAlignment="middle" col="2" class="sliderVerticalLine"></GridLayout>
      <GridLayout verticalAlignment="middle" col="3" class="sliderVerticalLine"></GridLayout>
      <GridLayout verticalAlignment="middle" col="4" class="sliderVerticalLine"></GridLayout>
      <GridLayout verticalAlignment="middle" col="5" class="sliderVerticalLine"></GridLayout>
      <GridLayout verticalAlignment="middle" col="6" class="sliderVerticalLine"></GridLayout>
      <GridLayout verticalAlignment="middle" col="7" class="sliderVerticalLine"></GridLayout>
      <Slider [minValue]="minValue"  [maxValue]="maxValue" [value]="value" colSpan="8" class="slider"></Slider>
    </GridLayout>
</GridLayout>


