

.alignTabs {
    padding-right: 12%;
    padding-top: 3%;
    border-top-color:black; 
    border-top-width: 2dp; 
    border-bottom-color:black; 
    border-bottom-width: 2dp; 
}

.colorWhite {
    color: white;
}

.md-icon {
    font-family: "Material Icons", "MaterialIcons-Regular","materialicons";
}

.slideBackground {
    background-color:#a1a1a1;
    margin: 5dp 3% 15dp 3%;
    border-radius: 100%;
    padding: 0dp 12% 0dp 12%;
}

.slider {
    background-color: white;
    color: #00d0f7;
}

.sliderVerticalLine {
    height: 15dp;
    background-color: white;
    width: 1dp;
}

.main-font {
    font-family: 'Abel-Regular,Abel';
}

.f-s-27 {
    font-size: 27dp;
}

.f-s-22 {
    font-size: 22dp;
}

.f-s-32 {
    font-size: 32dp;
}