@import "../theme/sass/variable";
.page-padding {
    padding: 10% 0% 4% 0%;
    background-color: $background;
}

.multipleSelect {
    width: 120dp;
    height: 50dp;
    border-radius: 14%;
    margin-top: 3%;
    border-width: 2dp;
    border-color: black;
    color: $muted-color;
}

.bg-color {
    background-color: $background;
}

.bgBlack {
    background-color: black;
}

.colorWhite {
    color: white;
}

.fanPadding {
    padding-bottom: 7%;
}

.alignTabs {
    padding-top: 10dp;
    padding-bottom: 25dp;
}

.main-font {
    font-family: $main-font;
}