<ScrollView class="bg-color">
  <GridLayout rows="auto,auto,auto,auto,auto,auto" columns="*,*" class="page-padding">
    <ng-container *ngFor="let btn of buttonsArray;">
      <ts-button [labelNumber]="btn.label" [color]="btn.color" [name]="btn.name" [row]="btn.row" [col]="btn.columns"></ts-button>
    </ng-container>
    <ts-tabs row="3" colSpan="2" [tabs]="tabs" activeTab='1'></ts-tabs>
    <StackLayout row="4" colSpan="2">
      <ts-slider value="25"></ts-slider>
      <ts-slider value="100"></ts-slider>
      <ts-slider value="100"></ts-slider>
      <ts-slider value="100"></ts-slider>
    </StackLayout>
    <ts-tabs row="5" colSpan="2" [tabs]="fan" activeTab='0'></ts-tabs>
  </GridLayout>
</ScrollView>