@import "../theme/sass/variable";
.page-padding {
    padding: 10% 0% 4% 0%;
    background-color: $background;
}


.bg-color {
    background-color: $background;
}



.colorWhite {
    color: white;
}

.fanPadding {
    padding-bottom: 7%;
}

.main-font {
    font-family: $main-font;
}