
@import '~nativescript-theme-core/scss/light';
// Customize any of the theme’s variables here
// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';



@import 'theme/sass/index';
