// color scheme
$background: #252525;
$primary-color: #3e040f;
$sec-color: #d3d3d3;
$muted-color: #757575;

// font Family
$main-font: 'Abel-Regular,Abel';

// font icons
$material-icon-font : "Material Icons", "MaterialIcons-Regular","materialicons";