<GridLayout row="4" colSpan="2"  rows="auto,auto" columns="auto,*" class="alignTabs">
    <Label text="&#xe042;" class="f-s-32 md-icon colorWhite" textWrap="true"></Label>
    <Label text="Color Temp" col="1"  class="f-s-27 colorWhite p-l-5 text-left" textWrap="true"></Label>
    <Label text="3200K"  col="1" class="f-s-27 colorWhite p-r-10 text-right" textWrap="true"></Label>

    <GridLayout rows="*" colSpan="2" columns="*" row="1" class="slideBackground"> 
      <Slider minValue="0"  maxValue="100" value="30" class="slider"></Slider>
    </GridLayout>
    
</GridLayout>

